[Unit]
Description=Pina
After=network-online.target rethinkdb.target

[Service]
ExecStart=dotnet /home/zirk/bots/Pina/Pina.dll
WorkingDirectory=/home/zirk/bots/Pina
Restart=on-failure

[Install]
WantedBy=multi-user.target